section#home .left-section .btns button:first-of-type {
  color: #fff;
  background-color: rgb(202, 94, 5);
  text-align: center;
  margin: auto;
  border: 1px solid white;
}

section#home .left-section .btns button:last-of-type {
  color: #fff;
  text-align: center;
  margin: auto;
  border: 1px solid white;
  background-color: transparent;
}

.nav-brand img {
  border-radius: 50%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.main-page {
  width: 100%;
  position: relative;
}

.nav-wrapper {
  height: 50px;
  width: 100%;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
}

.nav-brand img {
  height: 4rem;
  width: 6rem;
}

.nav-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem 1rem;
  position: fixed;
  right: 0;
  top: 0rem;
  bottom: 0;
  left: 40vw;
  z-index: 1;
  background-color: rgb(202, 94, 5);
  color: rgb(224, 224, 224);
  transition: left 0.6s linear;
  -webkit-transition: left 0.6s linear;
  -moz-transition: left 0.6s linear;
  -ms-transition: left 0.6s linear;
  -o-transition: left 0.6s linear;
}
.nav-links li.nav-link {
  font-size: 1rem;
  border-bottom: 1px solid rgb(224, 224, 224);
  width: 100%;
  padding: 0.3rem 2rem;
}

.nav-links {
  display: none;
}

.nav-links.show {
  display: flex;
}

.nav-features {
  position: absolute;
  z-index: 1;
  top: 2rem;
  left: 49vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0 1rem;
}
.nav-features li {
  font-size: 1.2rem;
  color: rgb(224, 224, 224);
}
.nav-features li#nav-search {
  display: none;
}

.nav-features {
  display: none;
}

.nav-features.show {
  display: flex;
}

.nav-toggle-btn {
  position: fixed;
  right: 2rem;
  z-index: 2;
}
.nav-toggle-btn i.fa-bars {
  font-size: 2rem;
  font-weight: 800;
  color: rgb(202, 94, 5);
  cursor: pointer;
}
.nav-toggle-btn i.fa-times {
  position: absolute;
  top: -30px;
  font-size: 2rem;
  font-weight: 800;
  color: rgb(224, 224, 224);
  cursor: pointer;
}

section#home {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  background-color: black;
  padding-bottom: 2rem;
  gap: 1rem;
}
section#home .left-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
section#home .left-section h2 {
  color: white;
  font-size: 2rem;
  text-align: center;
}
section#home .left-section p {
  color: gray;
  width: 60vw;
  text-align: center;
}
section#home .left-section .btns {
  padding-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
section#home .left-section .btns button {
  color: white;
  border-radius: 0.5rem;
  padding: 0.7rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  cursor: pointer;
}
section#home .left-section .btns button:first-of-type {
  border: none;
}
section#home .right-section img {
  height: 70vmin;
  width: 70vmin;
}

/*# sourceMappingURL=index.css.map */
